from distutils.core import setup

setup(name='Longtail',
	version='0.9b1',
	description='Stuff.',
	url="https://github.com/joeandrewkey/Longtail",
	long_description='Stuff and junk.',
	author='J. Andrew Key and Matt Sevrens',
	author_email='joeandrewkey@gmail.com',
	packages=['longtail', 'longtail.binary_classifier', 'longtail.tools', 'tests'],
	)
