from distutils.core import setup

setup(name='Meerkat',
	version='0.9b1',
	description='Stuff.',
	url="https://github.com/joeandrewkey/Meerkat",
	long_description='Stuff and junk.',
	author='J. Andrew Key and Matt Sevrens',
	author_email='joeandrewkey@gmail.com',
	packages=['meerkat', 'meerkat.binary_classifier', 'meerkat.tools', 'tests'],
	)
