<div class="row">
	<div id="skeleton" class="col-md-12">
		<h2>Geomancer Project</h2>
		<p>DESCRIPTION : <b><span id="question_holder"></span></b></p>
		<div id="locationField">
			Manual Entry:
      		<input id="autocomplete" placeholder="The address you selected" onFocus="geolocate()" type="text" style="width: 400px;margin-bottom:15px"></input>
    	</div>
		<p>Full Address Fields :
			<img id='lockRotate' width="30" height="30" src='http://52.37.199.197/geo_lock.png' data-swap='http://52.37.199.197/geo_unlock.png' />
			<input type="text" id="locality" placeholder="type city here">
			<input type="text" id="administrative_area_level_1" placeholder="type state here" maxlength="2">
			<input type="text" id="postal_code" placeholder="type zipcode here" maxlength="5">
		</p>
		<p>
			<input type="text" id="street_number" placeholder="type street number here" style="width: 200px">
			<input type="text" id="route" placeholder="type street name here" style="width: 250px">
		</p>
        <p>Store Number :
			<input type="text" id="answerBoxStoreNumber" placeholder="type store number here" style="width: 300px;">
		</p>
		<p>
		    <button id="validate" class="btn btn-primary">Validate</button>
			<button id="save" class="btn btn-primary">Save Answer</button>
			<button id="idk" class="btn btn-primary">I don't know</button>
			<button id="not_in_us" class="btn btn-primary">Not in US</button>
		</p>
	</div>

	<div>
		<p id="finish" class="alert alert-success" style="display:none;">Congratulations! You have participated in all available tasks!</p>
		<p id="success" style="display:none;">Well done! Your answer has been saved</p>
		<p id="valid" style="display:none;">Cool! Your answer is valid</p>
	</div>

	<iframe
        id="iframe_map" width="650" height="450" frameborder="0" style="border:0"
        src="http://52.37.199.197/cat.jpg" allowfullscreen>
    </iframe> 
</div>

<script type="text/javascript">
    function getSelectedText() {
        var text = "";
        if (typeof window.getSelection != "undefined") {
            text = window.getSelection().toString();
        } else if (typeof document.selection != "undefined" && document.selection.type == "Text") {
            text = document.selection.createRange().text;
        }
        return text;
    }

    function doSomethingWithSelectedText() {
        var selectedText = getSelectedText();
        if (selectedText) {      	
            console.log("Got selected text " + selectedText);
            $("#autocomplete").on('input',function() {console.log("Change detected!");});
            $('#autocomplete').val(selectedText);
             console.log( "before trigger" + $( "#autocomplete" ).val() );
            $('#autocomplete').trigger("change");
            console.log( "after trigger" + $( "#autocomplete" ).val() );
            //$('#autocomplete').focus();
            //Update the address, perhaps even remove the old value
            //Reset all form fields
          	$("#locality").val("");
          	$('#locality').focus();
			$("#administrative_area_level_1").val("");
			$('#administrative_area_level_1').focus();
			$("#postal_code").val("");
			$('#postal_code').focus();
			$("#street_number").val("");  
			$('#street_number').focus();
			$("#route").val("");
			$('#route').focus();
			//You must return focus to #autocomplete to get the search box moving
            $('#autocomplete').focus();
        }
    }
    
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        if (!locked) {
        	$('#lockRotate').focus();
        	$('#lockRotate').trigger("click");
        }
        var place = autocomplete.getPlace();
        // Can we call the function to update all of the form fields??
        console.log(place);
        if (typeof place === "undefined") {
            console.log("place response is undefined");
        } else {
        	for (var component in componentForm) {
          		document.getElementById(component).value = '';
          		//document.getElementById(component).disabled = false;
        	}

        	// Get each component of the address from the place details
        	// and fill the corresponding field on the form.
        	var isStreetName = false;
        	for (var i = 0; i < place.address_components.length; i++) {
          		var addressType = place.address_components[i].types[0];
          		if (componentForm[addressType]) {
            		var val = place.address_components[i][componentForm[addressType]];
            		document.getElementById(addressType).value = val;
          		}
          		if (addressType == "route") {
          			isStreetName = true;
          		}
        	}
        	if (isStreetName) {
        		console.log("has street address, call api");

          		var query = "https://www.google.com/maps/embed/v1/place?key=AIzaSyD3DDwlANN20mbepZow2SIhLjZPMwBI_84&zoom=24&&maptype=satellite&q=place_id:";
          		place_id = place.place_id;
          		console.log(place_id);
          		query = query + place_id;
        		console.log(query);
        		$("#iframe_map").attr('src', query);
        	} else {
            //Reset embed to cat picture
            console.log("No street, adding a cat");
            img_url = "http://52.37.199.197/cat.jpg";
        	$("#iframe_map").attr('src', img_url);
        	$("#iframe_map").focus();      		
        	}
        	

    	}
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
    }

    document.onmouseup = doSomethingWithSelectedText;
    document.onkeyup = doSomethingWithSelectedText;

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        postal_code: 'short_name'
    };

    
  
var maps = {};
$.ajax({
	url: "http://server_ip/dictionaries/merchant_name/geo.json",
	dataType: 'jsonp',
	jsonpCallback: 'callback0',
	success: function(data) {
		//console.log(data);
		maps = data;
	}
});

var store1 = {};
$.ajax({
	url: "http://server_ip/dictionaries/merchant_name/store_id_1.json",
	dataType: 'jsonp',
	jsonpCallback: 'callback1',
	success: function(data) {
		//console.log(data);
		store1 = data;
	}
});

var store2 = {};
$.ajax({
	url: "http://server_ip/dictionaries/merchant_name/store_id_2.json",
	dataType: 'jsonp',
	jsonpCallback: 'callback2',
	success: function(data) {
		//console.log(data);
		store2 = data;
	}
});

pybossa.taskLoaded(function(task, deferred){
	deferred.resolve(task);
});
var locked = true;
pybossa.presentTask(function(task, deferred){
	if (!$.isEmptyObject(task)) {
		img_url = "http://52.37.199.197/cat.jpg";
        $("#iframe_map").attr('src', img_url);

		$("#autocomplete").val("");
		$("#locality").val("");
		$("#administrative_area_level_1").val("");
		$("#postal_code").val("");
		$("#answerBoxStoreNumber").val("");
		$("#street_number").val("");
		$("#route").val("");

		$("#locality").prop('disabled', true);
		$("#administrative_area_level_1").prop('disabled', true);
		$("#postal_code").prop("disabled", true);
		$("#street_number").prop("disabled", true);
		$("#route").prop("disabled", true);

		$("#locality").css({
			"border": "",
			"background": ""
		});
		$("#administrative_area_level_1").css({
			"border": "",
			"background": ""
		});
		$("#postal_code").css({
			"border": "",
			"background": ""
		});
		$("#answerBoxStoreNumber").css({
			"border": "",
			"background": ""
		});
		$("#street_number").css({
			"border": "",
			"background": ""
		});
		$("#route").css({
			"border": "",
			"background": ""
		});

		if (!locked) {
        	$('#lockRotate').focus();
        	$('#lockRotate').trigger("click");
        }

		//This function locks and unlocks the "full address fields"
 		$("#lockRotate").click(function() { 
       		var _this = $(this);
       		var current = _this.attr("src");
       		var swap = _this.attr("data-swap");     
     		_this.attr('src', swap).attr("data-swap",current);   
     		if (locked) {
     			locked = false;
     			$("#locality").prop('disabled', false);
				$("#administrative_area_level_1").prop('disabled', false);
				$("#postal_code").prop("disabled", false);
				$("#street_number").prop("disabled", false);
				$("#route").prop("disabled", false);
     		} else {
     			locked = true;
     			$("#locality").prop('disabled', true);
				$("#administrative_area_level_1").prop('disabled', true);
				$("#postal_code").prop("disabled", true);
				$("#street_number").prop("disabled", true);
				$("#route").prop("disabled", true);
				$("#locality").val("");
				$("#administrative_area_level_1").val("");
				$("#postal_code").val("");
				$("#street_number").val("");
				$("#route").val("");
     		}
		});  

		$("#question_holder").text(task.info['question']);

		var validAnswer = {};
		var passValidation = false;
        $("#save").off('click').on('click', function(evt) {
			if (!passValidation) {
				if (locked) {
        			$('#lockRotate').focus();
        			$('#lockRotate').trigger("click");
        		}
			} 
			validAnswer["locked"] = locked;
			pybossa.saveTask(task.id, validAnswer).done(function() {
				$("#success").fadeIn();
				setTimeout(function() {
					$("#success").hide();
					deferred.resolve(task);
				}, 1500);
			});
        });

		$("#validate").off('click').on('click', function(evt) {
			var answer = {}
			answer["city"] = $.trim($("#locality").val().toUpperCase());
			answer["state"] = $("#administrative_area_level_1").val().toUpperCase();
			answer["zipcode"] = $("#postal_code").val().toUpperCase();
			answer["not_in_us"] = false;
			answer["storenumber"] = $("#answerBoxStoreNumber").val().replace(/^0+/, '');
			answer["streetaddress"] = $.trim( $("#street_number").val().toUpperCase() + $("#route").val().toUpperCase());

			var isValidState = true;
			var isValidCity = true;
			var isValidZipcode = true;
			var isValidStoreNumber = true;
			var isValidStreetAddress = true;

			var storenumber = answer["storenumber"]
			var instore1 = ((storenumber.length != 0) && (storenumber in store1) &&
				(store1[storenumber][0] == answer["city"]) && (store1[storenumber][1] == answer["state"]))
			var instore2 = ((storenumber.length != 0) && (storenumber in store2) &&
				(store2[storenumber][0] == answer["city"]) && (store2[storenumber][1] == answer["state"]))

             
			$('#administrative_area_level_1').each(function () {
				if (!(answer["state"] in maps)) {
					isValidState = false;
					$("#administrative_area_level_1").css({
						"border": "1px solid red",
						"background": "#FFCECE"
					});
				} else if (!(answer["city"] in maps[answer["state"]])) {
					isValidCity = false;
					$("#locality").css({
						"border": "1px solid red",
						"background": "#FFCECE"
					});
				} else if ((maps[answer["state"]][answer["city"]].indexOf(answer["zipcode"]) == -1) && (answer["zipcode"].length != 0)) {
					isValidZipcode = false;
					$("#postal_code").css({
						"border": "1px solid red",
						"background": "#FFCECE"
					});
				} else if ((storenumber.length != 0) && (!(instore1 || instore2))) {
					isValidStoreNumber = false;
					$("#answerBoxStoreNumber").css({
						"border": "1px solid red",
						"background": "#FFCECE"
					});
			
				} else {
					$("#administrative_area_level_1").css({
						"border": "",
						"background": ""
					});
					$("#locality").css({
						"border": "",
						"background": ""
					});
					$("#postal_code").css({
						"border": "",
						"background": ""
					});
					$("#answerBoxStoreNumber").css({
						"border": "",
						"background": ""
					});
				}
			});

			if (isValidState == false || isValidCity == false|| isValidZipcode == false ||
				isValidStoreNumber == false || isValidStreetAddress == false) {
				passValidation = false;
			} else {
				passValidation = true;
				validAnswer = answer;
				$("#valid").fadeIn();
					setTimeout(function() {
						$("#valid").hide();
					}, 1500);
			}
		});

		$("#not_in_us").off('click').on('click', function(evt) {
			var answer = {};
			answer["city"] = "";
			answer["state"] = "";
			answer["zipcode"] = "";
			answer["not_in_us"] = true;
			answer["storenumber"] = "";
			answer["streetaddress"] = "";
			answer["locked"] = true;
			pybossa.saveTask(task.id, answer).done(function() {
				$("#success").fadeIn();
					setTimeout(function() {
						$("#success").hide();
						deferred.resolve(task);
					}, 1500);
			});
		});

		$("#idk").off('click').on('click', function(evt) {
			var answer = {};
			answer["city"] = "";
			answer["state"] = "";
			answer["zipcode"] = "";
			answer["not_in_us"] = "";
			answer["storenumber"] = "";
			answer["streetaddress"] = "";
			answer["locked"] = true;
			pybossa.saveTask(task.id, answer).done(function() {
				$("#success").fadeIn();
					setTimeout(function() {
						$("#success").hide();
						deferred.resolve(task);
					}, 1500);
			});
		});
      
	} else {
		$("#skeleton").hide();
		$("#finish").fadeIn(100);
	}
});
pybossa.run('Geomancer_project');
</script>

<script type="text/javascript">
	var key_index = (Math.floor(Math.random() * 2) + 1).toString();
	console.log("key index" + key_index);
    switch(key_index) {
        case "1":
            var s = document.createElement("script");
                s.type = "text/javascript";
                s.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDH0VXC9bEbt8ajPZGmVBq2p8Zl9_zWOm0&libraries=places&callback=initAutocomplete";
                s.defer = "defer";
                s.async = "async";
            $("body").append(s);
        	break;
        case "2":
            var s = document.createElement("script");
                s.type = "text/javascript";
                s.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD3DDwlANN20mbepZow2SIhLjZPMwBI_84&libraries=places&callback=initAutocomplete";
                s.defer = "defer";
                s.async = "async";
            $("body").append(s);
        	break;
        default:
        	void(0);
    }
</script>

<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH0VXC9bEbt8ajPZGmVBq2p8Zl9_zWOm0&libraries=places&callback=initAutocomplete"
        async defer>
</script-->
<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3DDwlANN20mbepZow2SIhLjZPMwBI_84&libraries=places&callback=initAutocomplete"
        async defer>
</script-->
