<div class="row">
	<div id="skeleton" class="col-md-12">
		<h2>Geomancer Project</h2>
		<p>DESCRIPTION : <b><span id="question_holder"></span></b></p>
		<div id='select_type'>			
			<p>
				<input type='radio' id='select_geo_address' name='type' value='1'/> Select Geography
				<input id="autocomplete" placeholder="Manual Entry Geography" onFocus="geolocate()" type="text" style="width: 400px;margin-left:35px"></input>
			</p>
			<img id='lockRotate' width="30" height="30" src='http://35.161.19.63/geo_lock.png' />    		

    		<div id="address_fields" style="width: 600px;padding-top:10px;padding-left:10px;border-width:2px;border-style: solid;border-color:#E41D25">
    			<p>
					Street address <input type="text" id="street_number" style="width: 180px;margin-left:10px">
					<input type="text" id="route" style="width: 250px;margin-left:5px">
				</p> 
				<p>			
					City <input type="text" class="validation_fields" id="locality" style="width:158px;margin-left:10px;margin-right:10px">
					State <input type="text" class="validation_fields" id="administrative_area_level_1" maxlength="2" style="width:100px;margin-left:10px;margin-right:10px">
					Zipcode <input type="text" class="validation_fields" id="postal_code" maxlength="5" style="width:100px;margin-left:10px;margin-right:10px">
				</p>
			</div>
			<div id="store_number_box" style="margin-top:20px;width:600px;padding-top:10px;padding-left:10px;border-width:2px;border-style:solid;border-color:#E41D25">
				<p>
        			<input type='radio' id='select_store_number' name='type' value='2'/> Select Store Number
					<input type="text" class="validation_fields" id="store_number" placeholder="Manual Entry store number" style="width: 250px;margin-left:15px">
				</p>
			</div>
		</div>
		<div style="margin-top:20px">
			<p>
				<button id="save" class="btn btn-primary">Save Answer</button>
				<button id="idk" class="btn btn-primary">I don't know</button>
				<button id="not_in_us" class="btn btn-primary">Not in US</button>
				<button id="start_over" class="btn btn-primary">Start Over</button>
			</p>
		</div>
	</div>

	<div>
		<p id="finish" class="alert alert-success" style="display:none;">Congratulations! You have participated in all available tasks!</p>
		<p id="success" style="display:none;">Well done! Your answer has been saved</p>
	</div>

	<iframe
        id="iframe_map" width="650" height="450" frameborder="0" style="border:0; margin-top:10px"
        src="http://35.161.19.63/cat.jpg" allowfullscreen>
    </iframe> 
</div>

<script type="text/javascript">
	//Variables
	var locked = true;
	var isValidState = true;
	var isValidCity = true;
	var isValidZipcode = true;
	var isValidStoreNumber = true;
	var allow_save = false;
	var passValidation = false;
	var lockImage = 'http://35.161.19.63/geo_lock.png';
	var unlockImage = 'http://35.161.19.63/geo_unlock.png'
	var maps = {};

	//Functions
    function doSomethingWithSelectedText() {
        var selectedText = getSelectedText();
        if (selectedText) {      
        	if($("#select_geo_address").is(":checked")) {
            	$('#autocomplete').val(selectedText);
            	$('#autocomplete').trigger("change");
            	//Update the address, perhaps even remove the old value
            	//Reset all form fields
          		$("#locality").val("");
          		$('#locality').focus();
				$("#administrative_area_level_1").val("");
				$('#administrative_area_level_1').focus();
				$("#postal_code").val("");
				$('#postal_code').focus();
				$("#street_number").val("");  
				$('#street_number').focus();
				$("#route").val("");
				$('#route').focus();
				//You must return focus to #autocomplete to get the search box moving
            	$('#autocomplete').focus();
        	} else {
				console.log("Got selected store " + selectedText);
				$('#store_number').val(selectedText);
				// want to validate store number
				$('#store_number').trigger("change");
        	}
        }
    } 

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        lockParameterized("lock");
        var place = autocomplete.getPlace();
        // Can we call the function to update all of the form fields??
        console.log(place);
        if (typeof place === "undefined") {
            console.log("place response is undefined");
        } else {
        	for (var component in componentForm) {
          		document.getElementById(component).value = '';
        	}

        	// Get each component of the address from the place details
        	// and fill the corresponding field on the form.
        	var isStreetName = false;
        	for (var i = place.address_components.length - 1; i >= 0; i--) {
          		var addressType = place.address_components[i].types[0];
          		if (componentForm[addressType]) {
            		var val = place.address_components[i][componentForm[addressType]];
            		document.getElementById(addressType).value = val;
          		}
          		if (addressType == "route") {
          			isStreetName = true;
          		}
          		if (addressType == "administrative_area_level_1") {
					$('#administrative_area_level_1').trigger("change");
          		}
          		if (addressType == "locality") {
					$('#locality').trigger("change");
          		}
          		if (addressType == "postal_code") {
					$('#postal_code').trigger("change");
          		}
        	}

			if($("#locality").val().length != 0 && $("#administrative_area_level_1").val().length != 0) {
				$("#select_store_number").attr("disabled", false);
				$("#store_number").attr("disabled", false);
				$("#store_number_box").css('border-color', '#FDC606');
			}

        	if (isStreetName) {
        		console.log("has street address, call embed api");
        		var key_index = (Math.floor(Math.random() * 2) + 1).toString();
				console.log("embed api - key index" + key_index);
				var key_map =  {
					"1": "AIzaSyDH0VXC9bEbt8ajPZGmVBq2p8Zl9_zWOm0",
					"2": "AIzaSyD3DDwlANN20mbepZow2SIhLjZPMwBI_84"
				}
				var embed_api_key = key_map[key_index];
				console.log(embed_api_key);
          		var query = "https://www.google.com/maps/embed/v1/place?key=" + embed_api_key + "&zoom=24&&maptype=satellite&q=place_id:";
          		place_id = place.place_id;
          		console.log(place_id);
          		query = query + place_id;
        		console.log(query);
        		$("#iframe_map").attr('src', query);
        	} else {
            //Reset embed to cat picture
            console.log("No street address, adding a cat");
            img_url = "http://35.161.19.63/cat.jpg";
        	$("#iframe_map").attr('src', img_url);
        	$("#iframe_map").focus();      		
        	}
    	}
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
    }

    function getSelectedText() {
        var text = "";
        if (typeof window.getSelection != "undefined") {
            text = window.getSelection().toString();
        } else if (typeof document.selection != "undefined" && document.selection.type == "Text") {
            text = document.selection.createRange().text;
        }
        return text;
    }


    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

	function initialize() {
		img_url = "http://35.161.19.63/cat.jpg";
    	$("#iframe_map").attr('src', img_url);

		$("#autocomplete").val("");
		$("#store_number").val("");
		lockParameterized("lock");

		$("#store_number").css({"border": "", "background": ""});
		$("#street_number").css({"border": "","background": ""});
		$("#route").css({"border": "","background": ""});

		isValidState = true;
		isValidCity = true;
		isValidZipcode = true;
		isValidStoreNumber = true;
		passValidation = false;

    	$("#select_geo_address").prop("checked", true);
    	$("#select_store_number").attr("disabled", true);
    	$("#store_number").attr("disabled", true);
    	$("#store_number_box").css('border-color', '#E41D25');

    	save_or_cancel = "save";
		allow_save = false;
	}

	function lockClear() {
		$("#administrative_area_level_1").css({"border": "","background": ""});
		$("#locality").css({"border": "","background": ""});
		$("#postal_code").css({"border": "","background": ""});		
		$("#locality").val("");
		$("#administrative_area_level_1").val("");
		$("#postal_code").val("");
		$("#street_number").val("");
		$("#route").val("");		
	}

	function lockParameterized(lock_or_unlock) {
		//Assume anything other than unlock
		locked = true;
		border_color = "#E41D25";
		placeholder = "";
		icon = lockImage;
		if (lock_or_unlock == "unlock") {
			locked = false;
			border_color = "#FDC606";
			placeholder = "Enter a value"
			icon = unlockImage;
		}
		//Set values
     	$("#address_fields").css('border-color', border_color);
     	$("#locality").prop('disabled', locked);
		$("#administrative_area_level_1").prop('disabled', locked);
		$("#postal_code").prop("disabled", locked);
		$("#street_number").prop("disabled", locked);
		$("#route").prop("disabled", locked);

		$("#street_number").attr("placeholder", placeholder);
		$("#route").attr("placeholder", placeholder);
		$("#locality").attr("placeholder", placeholder);
		$("#administrative_area_level_1").attr("placeholder", placeholder);
		$("#postal_code").attr("placeholder", placeholder);	

		lockClear();
		//Set icon src
		$("#lockRotate").attr("src", icon);
	}
 
 
	$.ajax({
		url: "http://server_ip/dictionaries/merchant_name/geo.json",
		dataType: 'jsonp',
		jsonpCallback: 'callback0',
		success: function(data) {
			console.log(data);
			maps = data;
		}
	});

	var store1 = {};
	$.ajax({
		url: "http://server_ip/dictionaries/merchant_name/store_id_1.json",
		dataType: 'jsonp',
		jsonpCallback: 'callback1',
		success: function(data) {
			console.log(data);
			store1 = data;
		}
	});

	var store2 = {};
	$.ajax({
		url: "http://server_ip/dictionaries/merchant_name/store_id_2.json",
		dataType: 'jsonp',
		jsonpCallback: 'callback2',
		success: function(data) {
			//console.log(data);
			store2 = data;
		}
	});
 
	$('.validation_fields').each(function() {
   		var elem = $(this);
   		
   		elem.data('oldVal', elem.val());

   		elem.bind("propertychange change click keyup input paste", function(event){
      		elem.data('oldVal', elem.val());

			isValidState = true;
			isValidCity = true;
			isValidZipcode = true;
			isValidStoreNumber = true;
			allow_save = false;

       		var answer_state = $.trim($("#administrative_area_level_1").val().toUpperCase());
			var answer_city = $.trim($("#locality").val().toUpperCase());
			var answer_zipcode = $.trim($("#postal_code").val().toUpperCase());
			var answer_storenumber = $.trim($("#store_number").val().toUpperCase().replace(/^0+/, ''));

			var instore1 = ((answer_storenumber.length != 0) && (answer_storenumber in store1) &&
				(store1[answer_storenumber][0] == answer_city) && (store1[answer_storenumber][1] == answer_state))
			var instore2 = ((answer_storenumber.length != 0) && (answer_storenumber in store2) &&
				(store2[answer_storenumber][0] == answer_city) && (store2[answer_storenumber][1] == answer_state))
			if (answer_state.length > 0 || answer_city.length > 0 || answer_zipcode.length > 0 || answer_storenumber.length > 0) {
				allow_save = true;
				save_or_cancel = "save";
			} else {
				allow_save = false;
				save_or_cancel = "cancel";
			}
			if (!(answer_state in maps)) {
				isValidState = false;
				$("#administrative_area_level_1").css({"border": "1px solid red", "background": "#FFCECE"});
			} else if (!(answer_city in maps[answer_state])) {
				isValidCity = false;
				$("#administrative_area_level_1").css({"border": "", "background": ""});
				$("#locality").css({"border": "1px solid red", "background": "#FFCECE"});	
			} else if ((maps[answer_state][answer_city].indexOf(answer_zipcode) == -1) && (answer_zipcode.length != 0)) {
				isValidZipcode = false;
				$("#administrative_area_level_1").css({"border": "", "background": ""});
				$("#locality").css({"border": "", "background": ""});
				$("#postal_code").css({"border": "1px solid red", "background": "#FFCECE"});
			} else if ((answer_storenumber.length != 0) && (!(instore1 || instore2))) {
				isValidStoreNumber = false;
				$("#administrative_area_level_1").css({"border": "","background": ""});
				$("#locality").css({"border": "", "background": ""});
				$("#postal_code").css({"border": "", "background": ""});
				$("#store_number").css({"border": "1px solid red", "background": "#FFCECE"});		
			} else {
				$("#administrative_area_level_1").css({"border": "", "background": ""});
				$("#locality").css({"border": "", "background": ""});
				$("#postal_code").css({"border": "", "background": ""});
				$("#store_number").css({"border": "", "background": ""});
			}
     		if (isValidState == false || isValidCity == false || isValidZipcode == false || isValidStoreNumber == false) {
				passValidation = false;
			} else {
				passValidation = true;
			}
   		});
   	});

	//This function locks and unlocks the "full address fields"
 	$("#lockRotate").click(function() {  
     	if (locked) {
     		lockParameterized("unlock");
     	} else {
     		lockParameterized("lock");
     	}
	});  

    document.onmouseup = doSomethingWithSelectedText;
    document.onkeyup = doSomethingWithSelectedText;

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        postal_code: 'short_name'
    };

pybossa.taskLoaded(function(task, deferred){
	deferred.resolve(task);
});

pybossa.presentTask(function(task, deferred){

	if (!$.isEmptyObject(task)) {
		// Initial states
		var answer = {};
		initialize();

		$("#question_holder").text(task.info['question']);		
		
        $("#save").off('click').on('click', function(evt) {

        	if (!allow_save) {
        		save_or_cancel = "cancel";
        		window.alert("You must do one of the following to continue:\n 1. Fill in some data.\n 2. Click I don't know.\n 3. Click Not in US");
        	} else if (!passValidation) {
				//Provide an opportunity to save invalid data
				lockParameterized("unlock");
				if (confirm("Do you want to save custom changes that do not appear to validate?") == true) {
        			save_or_cancel = "save";
    			} else {
        			save_or_cancel = "cancel";
    			}
			} 
        	answer = {
        		"city": $.trim($("#locality").val().toUpperCase()),
        		"state": $.trim($("#administrative_area_level_1").val().toUpperCase()),
        		"zipcode": $.trim($("#postal_code").val().toUpperCase()),
        		"not_in_us": false,
        		"storenumber": $.trim($("#store_number").val().toUpperCase().replace(/^0+/, '')),
        		"streetaddress": $.trim( $("#street_number").val().toUpperCase() + $("#route").val().toUpperCase()),
        		"locked": locked
        	};
        	console.log(save_or_cancel);
			//Save if necessary
			if (save_or_cancel == "save") {
				pybossa.saveTask(task.id, answer).done(function() {
					$("#success").fadeIn();
					setTimeout(function() {
						$("#success").hide();
						deferred.resolve(task);
					}, 1500);
				});
			}
        });

		$("#not_in_us").off('click').on('click', function(evt) {
			answer = {
				"city": "",
				"state": "",
				"zipcode": "",
				"not_in_us": true,
				"storenumber": "",
				"streetaddress": "",
				"locked": true
			};
			pybossa.saveTask(task.id, answer).done(function() {
				$("#success").fadeIn();
					setTimeout(function() {
						$("#success").hide();
						deferred.resolve(task);
					}, 1500);
			});
		});

		$("#start_over").off('click').on('click', function(evt) {
			initialize();
		});

		$("#idk").off('click').on('click', function(evt) {
			//console.log(answer);
			answer = {
				"city": "",
				"state": "",
				"zipcode": "",
				"not_in_us": "",
				"storenumber": "",
				"streetaddress": "",
				"locked": true
			};
			pybossa.saveTask(task.id, answer).done(function() {
				$("#success").fadeIn();
					setTimeout(function() {
						$("#success").hide();
						deferred.resolve(task);
					}, 1500);
			});
		});
      
	} else {
		$("#skeleton").hide();
		$("#finish").fadeIn(100);
	}
});
pybossa.run('Geomancer_project');
</script>

<script type="text/javascript">
	var key_index = (Math.floor(Math.random() * 2) + 1).toString();

	//console.log("map api - key index" + key_index);
	keys = {
		"1": "AIzaSyDH0VXC9bEbt8ajPZGmVBq2p8Zl9_zWOm0",
		"2": "AIzaSyD3DDwlANN20mbepZow2SIhLjZPMwBI_84"
	}
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.defer = "defer";
    s.async = "async";
    s.src = "https://maps.googleapis.com/maps/api/js?key=" + keys[key_index] + "&libraries=places&callback=initAutocomplete";

    $("body").append(s);
</script>
